---
import Steps from '@/components/widgets/Steps.astro';
import data from '@/assets/data/data.json';
const items = data.resume.education.map((e) => {
  return {
    title: `${e.degree} <br /> 
    <span class="font-normal">${e.school}</span> <br /> 
    <span class="text-sm font-normal">${e.location}</span> <br /> 
    <span class="text-sm font-normal">${e.startDate} - ${e.endDate}</span>`,
    icon: 'tabler:school',
  };
});
---

<Steps id="resume" title="Education" items={items} classes={{ container: 'max-w-3xl' }} />
