---
import Steps from '@/components/widgets/Steps.astro';
import data from '@/assets/data/data.json';

const items = data.resume.workExperience.map((item) => ({
  title: `${item.position} <br /> <span class="font-normal">${item.company}</span> <br /> <span class="text-sm font-normal"> ${item.location} </span> <br /> <span class="text-sm font-normal">${item.startDate} - ${item.endDate}</span>`,
  description: item.description.join('<br />'),
  icon: 'tabler:briefcase',
}));
---

<Steps id="resume" title="Work experience" items={items} classes={{ container: 'max-w-3xl' }} />
